@charset "utf-8";
/* CSS Document */
.fdoor{
					    
	 position:absolute;
     top:240px;
     right:1200px;
	 }	          
.bdoor{
					    
	 position:absolute;
     top:240px;
     right:800px;
	 }	
	 
	 .window{
					    
	 position:absolute;
     top:240px;
     right:500px;
	 }	
	 
	 .amount{
					    
	 position:absolute;
     top:240px;
     right:120px;
	 }	
	 
	 .name1{
		 position:absolute;
     top:285px;
     right:1200px;
	 }
	 
	 .date1{
		 position:absolute;
     top:285px;
      right:800px;
	 }
	 .q1{
		 position:absolute;
     top:285px;
      right:500px;
	 }
	 .s1{
		 position:absolute;
     top:285px;
      right:120px;
	 }
	 
	 .name2{
		 position:absolute;
     top:320px;
     right:1200px;
	 }
	 
	 .q2{
		 position:absolute;
     top:320px;
     right:500px;
	 }
	 .date2{
		 position:absolute;
     top:320px;
      right:800px;
	 }
	  .s2{
		 position:absolute;
     top:320px;
      right:120px;
	 }
	  .name3{
		 position:absolute;
     top:355px;
     right:1210px;
	 }
	 .date3{
		 position:absolute;
     top:355px;
      right:800px;
	 }
	 .q3{
		 position:absolute;
     top:355px;
     right:500px;
	 }
	  .s3{
		 position:absolute;
     top:355px;
      right:120px;
	 }
	 
	 .name4{
		 position:absolute;
     top:390px;
     right:1220px;
	 }
	 .date4{
		 position:absolute;
     top:390px;
      right:800px;
	 }
	 .q4{
		 position:absolute;
     top:390px;
     right:500px;
	 }
	 
	  .s4{
		 position:absolute;
     top:390px;
      right:120px;
	 }
	 .name5{
		 position:absolute;
     top:425px;
     right:1240px;
	 }
	 .date5{
		 position:absolute;
     top:425px;
      right:800px;
	 }
	 .q5{
		 position:absolute;
     top:425px;
     right:500px;
	 }
	  .s5{
		 position:absolute;
     top:425px;
      right:120px;
	 }
	  .name6{
		 position:absolute;
     top:460px;
     right:1240px;
	 }
	 .date6{
		 position:absolute;
     top:460px;
      right:800px;
	 }
	 .q6{
		 position:absolute;
     top:460px;
     right:500px;
	 }
	  .s6{
		 position:absolute;
     top:460px;
      right:120px;
	 }
	 
	 .name7{
	 position:absolute;
     top:495px;
     right:1250px;
	 }
	 .date7{
		 position:absolute;
     top:495px;
      right:800px;
	 }
	 .q7{
		 position:absolute;
     top:495px;
     right:500px;
	 }
	  .s7{
		 position:absolute;
     top:495px;
      right:120px;
	 }
	 .name8{
	 position:absolute;
     top:530px;
     right:1240px;
	 }
	 .date8{
		 position:absolute;
     top:530px;
      right:800px;
	 }
	 .q8{
		 position:absolute;
     top:530px;
     right:500px;
	 }
	  .s8{
		 position:absolute;
     top:530px;
      right:120px;
	 }
	 .name9{
	 position:absolute;
     top:570px;
     right:1245px;
	 }
	 .date9{
		 position:absolute;
     top:570px;
      right:800px;
	 }
	 .q9{
		 position:absolute;
     top:570px;
     right:500px;
	 }
	  .s9{
		 position:absolute;
     top:570px;
      right:120px;
	 }